*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/captures
gradle.properties
.externalNativeBuild
*~
/.idea/
/java_*.hprof
/script/
/yuhaiin/build/.transforms/c462f274f4e7ab62fb666c12f15c913c/transformed/yuhaiin/
/yuhaiin/build/.transforms/
